/* Your custom css code goes here */
#separateur {
    margin-top: 255px;
}

#separateur2 {
    margin-top: 255px;
}

.text{
    font-weight: 500;
}

.contrast{
    color: black;
}
#blanco{
    color: white;
}

.whitecontrastsub{
    color: rgba(255,255,255,.5);
}

.row2{
    margin-top: 20px;
}

#darkblue{
    background: #29235c;
}

.displaymobile{
    display: none;
}

.img-responsive{
    border-radius: 10px;
}

.mt0{
    text-align: center;
}

.planpng{
    margin-left: 225px;
}

.mobilhome{
    margin-left: 300px;
}

/*RESPONSIVE*/

@media screen and (max-width: 768px) {
    #logocamping{
      display:none;
    }

    #separateur {
        margin-top: 100px;
    }

    #separateur2 {
        margin-top: 100px;
    }

    #notdisplay{
        display: none;
    }

    #row3{
        margin-right: 0px;
        margin-left: 5px;
    }

    .hires{
        width: auto;
        height: auto;
    }

    .displaymobile{
        display: flex;
    }

    .displaydesktop{
        display: none;
    }

    .planpng{
        margin-left:40px;
        height: 120px;
    }

    .mobilhome{
        margin-left:0px;
    }

    .mobilecenter{
        text-align: center;
    }

    .btncenter{
        margin-left: 60px;
    }

    .descenter{
        text-align: center;
    }

    .post-meta{
        text-align: center;
    }

  }